doc/*
!doc/doxygenLArCV.script
*.out
*.depend
*.png
*.jpg
*.jpeg
*.pcm
*.json
*.db
*.log
*.dat
*.bin
*~
*.pyc
.ipynb_checkpoints
*.ipynb
.DS_Store
*.pdf
*.o
*.so
*.h5
_skbuild
larcv.egg-info
dist
MANIFEST