name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine pytest
        sudo apt-get install libhdf5-serial-dev
        pip install -r requirements.txt
        git submodule update --init
    - name: Build manylinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.5.0-manylinux2014_x86_64
      with:
        python-versions: 'cp36-cp36m'
        build-requirements: 'scikit-build numpy h5py cmake'
        system-packages: 'hdf5-devel'
        # pre-build-command: 'sh pre-build-script.sh'
        # package-path: 'my_project'
        # pip-wheel-args: '-w ./dist --no-deps'
    - name: Build and publish Source Dist
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist
        twine upload dist/*

